.settings
target
.project
.classpath
.externalToolBuilders
.idea
*.iml
/src/main/resources/public/SenchaApp/build/
/src/main/resources/public/prd/
/src/main/resources/public/SenchaApp/PRD/**/bootstrap.*
